# Core data science
numpy
pandas
matplotlib

# ML / AI
torch
torchvision
torchaudio
transformers
huggingface-hub
safetensors
tiktoken

# LlamaIndex
llama-index
llama-index-agent-openai
llama-index-cli
llama-index-embeddings-openai
llama-index-indices-managed-llama-cloud
llama-index-llms-openai
llama-index-multi-modal-llms-openai
llama-index-postprocessor-cohere-rerank
llama-index-program-openai
llama-index-question-gen-openai
llama-index-readers-file
llama-index-readers-llama-parse
llama-index-vector-stores-kdbai
llama-parse

# Jupyter
jupyter
jupyterlab

# Web frameworks
Flask

# Testing
pytest
