# Core data science
numpy
pandas
matplotlib

# ML / AI
torch~=2.0
torchvision
torchaudio
transformers
huggingface-hub
safetensors
tiktoken

# LlamaIndex
llama-index
llama-index-cli
llama-index-readers-file
llama-parse

# Jupyter
jupyter
jupyterlab

# Web frameworks
Flask

# Testing
pytest
